ProcessMaker ODCPGMLIB DEM/solutions/ProcessMaker GLInvoice/PMGLInvoiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions targetNamespace="http://soap.service.acme.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.service.acme.com" xmlns:intf="http://soap.service.acme.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <!--WSDL created by LANSA Integrator SOAP Wizard and Apache Axis version: 1.4 Built on Nov 19, 2006 (02:31:34 GMT+00:00)-->

 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.service.acme.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateInvoice">
    <complexType>
     <sequence>
      <element name="processID" type="xsd:string"/>
      <element name="caseID" type="xsd:string"/>
      <element maxOccurs="unbounded" name="invoice" type="impl:Invoices"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Invoices">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="control" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="updateInvoiceResponse">
    <complexType>
     <sequence>
      <element name="updateInvoiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

 <wsdl:message name="updateInvoiceResponse">
  <wsdl:part element="impl:updateInvoiceResponse" name="parameters">
  </wsdl:part>
 </wsdl:message>

 <wsdl:message name="updateInvoiceRequest">
  <wsdl:part element="impl:updateInvoice" name="parameters">
  </wsdl:part>
 </wsdl:message>

 <wsdl:portType name="PMGLInvoiceServicePortType">
  <wsdl:operation name="updateInvoice">
   <wsdl:input message="impl:updateInvoiceRequest" name="updateInvoiceRequest">
       </wsdl:input>
   <wsdl:output message="impl:updateInvoiceResponse" name="updateInvoiceResponse">
       </wsdl:output>
  </wsdl:operation>
 </wsdl:portType>

 <wsdl:binding name="PMGLInvoiceServiceBinding" type="impl:PMGLInvoiceServicePortType">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="updateInvoice">
   <wsdlsoap:operation soapAction="updateInvoice"/>
   <wsdl:input name="updateInvoiceRequest">
    <wsdlsoap:body use="literal"/>
   </wsdl:input>
   <wsdl:output name="updateInvoiceResponse">
    <wsdlsoap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>

 <wsdl:service name="PMGLInvoiceServiceService">
  <wsdl:port binding="impl:PMGLInvoiceServiceBinding" name="PMGLInvoiceServicePort">
   <wsdlsoap:address location="http://www.acme.com/cgi-bin/jsmdirect?myservice"/>
  </wsdl:port>
 </wsdl:service>

</wsdl:definitions>
